<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Cywoods App Server</display-name>
	<servlet>
		<servlet-name>ScheduleServlet</servlet-name>
		<display-name>ScheduleServlet</display-name>
		<description></description>
		<servlet-class>ml.dent.servlet.ScheduleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<display-name>NewsServlet</display-name>
		<description></description>
		<servlet-class>ml.dent.servlet.NewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacultyServlet</servlet-name>
		<display-name>FacultyServlet</display-name>
		<description></description>
		<servlet-class>ml.dent.servlet.FacultyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BugServlet</servlet-name>
		<display-name>BugServlet</display-name>
		<description></description>
		<servlet-class>ml.dent.servlet.BugServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleServlet</servlet-name>
		<url-pattern>/ScheduleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/NewsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyServlet</servlet-name>
		<url-pattern>/FacultyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BugServlet</servlet-name>
		<url-pattern>/BugServlet</url-pattern>
	</servlet-mapping>
</web-app>
